footer {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #f6f6f6;
    /* border-top: 1px solid #424242; */
    background-color: #424242;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

footer img {
    height: 20px;
}

footer a:hover {
    text-decoration: underline;
}