* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    /* background-color: rgb(228, 228, 228); */
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: auto; */
}

a {
    text-decoration: none;
    color: inherit;
}

.light-grey {
    color: #7d7d7d;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

/*
************************************************************************************** 
**********************************SEARCH RESULTS************************************** 
************************************************************************************** 
*/


/*
************************************************************************************** 
****************************************SIDEBAR*************************************** 
************************************************************************************** 
*/

.side-bar {
    width: 25%;
    padding: 20px;
    margin: 20px;
    height: max-content;

    background-color: rgb(237, 237, 237);
    border: 1px solid rgba(44, 44, 44, 0.3);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*
************************************************************************************** 
***********************************REGISTER PAGE************************************** 
************************************************************************************** 
*/

.register-form-container {
    background-color: #F6F6F6;
    /* min-width: 50%; */
    min-height: 50%;
    /* margin: 20px; */
    /* padding: 20px; */
    border: 1px solid #4d4d4d;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    font-family: 'Roboto Mono', monospace;

}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 40px;
    /* align-items: center; */
}

.register-form a {
    color: #4e9d9a;
    text-decoration: underline;
    text-align: center;
}

.register-form a:hover{
    color: #59cfcb;
}

.register-form label {
    font-size: 14px;
}

.register-form input {
    border: 1px solid #4d4d4d;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
}

.register-form textarea {
    border: 1px solid #4d4d4d;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    resize: none;
}

.register-form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #4d4d4d;
    color: white;
    transition: background-color 0.3s;
    font-family: 'Roboto Mono', monospace;

}
.register-form button:hover {
    background-color: #4e9d9a;
    cursor: pointer;
}

.join-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(44, 44, 44, 0.5);
    /* height: 100%; */
    /* margin-left: 20px; */
    padding: 40px;
    background-color: #4d4d4d;
}

.register-page-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.register-page-icon p {
    text-align: center;
    /* color: #515151; */
    color: white;
}

.register-page-icon span{
    font-size: 5rem;
    /* color: #e8b047; */
    color: white;
    cursor:default;
}

@media screen and (max-width: 900px) {
    .join-us {
        display: none;
    }

    .register-form-container {
        width: 90%;
    }

    .register-page-content {
        height: 80%;
        align-items: flex-start;
        margin-top: 40px;
    }
}

/*
************************************************************************************** 
************************************PROFILE PAGE************************************** 
************************************************************************************** 
*/


/*
************************************************************************************** 
************************************DECKLIST PAGE************************************* 
************************************************************************************** 
*/

