<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/new_styles.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/single_card.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Yu-Gi-Search | {{ card.name }}</title>
    <script src="/static/scripts/toggleSets.js" defer></script>
</head>
<body>

    {% include "/navbar.html" %}

    <div class="card">

        <div class="card-and-sets">
            <div class="card-img">
                <img src={{card.img_url}} alt={{card.name}}>
            </div>
    
            <a href="https://www.tcgplayer.com/search/all/product?q={{card.name}}&view=grid" target="_blank" class="buy-card">
                <span class="material-symbols-outlined">shopping_cart</span>
                <p>Buy this card on TCGPlayer</p>
            </a>
            
            <div class="card-sets">
                <div class="card-set-names">
                    <table class="sets-table">
                        <tr>
                            <th>Code</th>
                            <th class="set-name">Name</th>
                            <th>Rarity</th>
                            <th>Price</th>
                        </tr>
                        
                        {% for cardset in sets %}
                        <tr>
                            <td>{{cardset.set.code}}</td>
                            <td>{{cardset.set.name}}</td>
                            <td>{{cardset.set_rarity}}</td>
                            <td>
                                {% if cardset.set_price == 0.0 %}
                                    N/A
                                {% else %}
                                    ${{cardset.set_price}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="sets-heading" onclick="toggleSets()"><h2>Sets </h2><span class="material-symbols-outlined">expand_more</span></div>
            </div>
        </div>
        <div class="desc-and-comments">
            <div class="card-data">
                <h1>{{card.name}}</h1>
    
                {% if "Monster" not in card.type %}
                    {% if card.race != NULL %}
                        <p class="card-type">{{card.race}} // {{card.type}}</p>
                    {% endif %}
                {% endif %}
    
    
                {% if "Monster" in card.type %}
                    <p class="card-type">{{card.race}} // {{card.type}}</p>
    
                    {% if "Link" not in card.type %}
                        {% if "XYZ" not in card.type %}
                            <p>Level: {{card.level}}</p>
                        {% endif %}
                    {% endif %}
    
                    {% if "Link" in card.type %}
                        <p>Link Rating: {{card.link_rating}}</p>
                    {% endif %}
    
                    {% if "XYZ" in card.type %}
                        <p>Rank: {{card.rank}}</p>
                    {% endif %}
    
                    <p>Attribute: {{card.attribute}}</p>
                    <p>Attack: {{card.attack}} Defense: {{card.defense}}</p>
                {% endif %}
                
                <h3 class="comment-head">Description</h3>
                <p>{{card.description}}</p>
                <p class="card-id">{{card.card_id}}</p>
    
            </div>
            <h2 class="comment-head">Comments</h2>
            <div class="comments-container">
                {% if current_user.id %}
                    <form action="/comments" method="POST">
                        <input type="hidden" name="card_id" value={{card.id}}>
                        <textarea name="content" cols="30" rows="5" placeholder="Type a witty comment..."></textarea>
                        <button>Post</button>
                    </form>
                {% else %}
                    <p class="light-grey">Login to post a comment</p>
                {% endif %}
                
                {% for comment in comments %}
                <div class="single-comment-card">
                    <p>{{comment.content}}</p>
                    <p class="posted-by">
                        <a href="/users/{{comment.user_id}}" class="comment-author">{{comment.user.username}}</a> 
                        commented on 
                        <a href="/card/{{comment.card.id}}" class="card-name">{{comment.card.name}}</a>
                    </p>
                </div>   
                {% endfor %}
            </div>
        </div>

    </div>

    {% include './footer.html' %}
</body>
</html>