<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/static/deck.css">
    <title>Yu-Gi-Search | {{deck.name}}</title>
    <script src="/static//scripts/addCardScript.js" defer></script>
    <script src="/static//scripts/editDeck.js" defer></script>
    <script src="/static//scripts/mouseOverCard.js" defer></script>
    <script src="/static/scripts/changeMaxHeight.js" defer></script>
</head>
<body>
    
    {% include "/navbar.html" %}

    <div class="editDeckModal">
        <div class="editDeckModalContent">
            <form action="/decks/{{deck.id}}/edit" method="POST">
                <label>Edit Name:</label>
                <input type="text" name="deck-name" placeholder="Deck Name" required>
                <button>Confirm Changes</button>
            </form>
            <hr>
            <form action="/decks/delete/{{deck.id}}" method="POST">
                <button class="delete-deck">Delete Deck</button>
            </form>
        </div>
    </div>

    <div class="decklist-page">


        <div class="deck-info">
            <div>
                <h1>{{deck.name}}</h1>
                <div class="deck-controls">
                    <!-- <p>Made by {{deck.user.username}}</p> -->
                    {% if current_user.id == deck.user_id %}
                        <button onclick="openEditDeckModal()" class="editDeckButton"><span class="material-symbols-outlined">settings</span></button>
                    {% endif %}
                </div>
            </div>
            {% if current_user.id == deck.user_id %}
            <div class="type-container">
                {% if error %}
                <p class="error">{{error}}</p>
                {% endif %}
                <input type="text" name="deckcard-name" autocomplete="off" id="add-card-searchbar" placeholder="Search to add a card _">
                <!-- <button class="addbtn">Add to Deck</button> -->
                <div class="add-card-dropdown">
                    <div class="add-card-content">
                        
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        
        <p class="total">Main Deck: {{main_deck_length}} - Extra Deck: {{extra_deck_length}}</p>
        <div class="decklist-area">
            <div class="decklist-container">
                <div class="card-types">
                    <h3 class="type-h3">Monsters</h3>
                    {% for card in decklist.main_deck %}
                    {% if "Monster" in card.type %}
                    <div class="decklist-card decklist-card-{{card.id}}" onmouseenter="displayCard('{{card.img_url}}')" >
                        <a href="/card/{{card.id}}">
                            <p class="cardnamep"> <span class="card-{{card.id}}-quantity">{{card.quantity}}</span> <span class="cardnamespan">{{card.name}}</span></p>
                        </a>
                        {% if current_user.id == deck.user_id %}
                        <div class="card-btns">
                            <form onsubmit="event.preventDefault(); addCardQuantity(event)" id="add-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="add-btn"><span class="material-symbols-outlined" id="{{card.id}}">add</span></button>
                            </form>
                            <form onsubmit="event.preventDefault(); delCardQuantity(event)" id="del-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="delete-btn"><span class="material-symbols-outlined" id="{{card.id}}">close</span></button>
                            </form>
                        </div>
                        {% endif %}
                    </div> 
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-types">
    
                    <h3 class="type-h3">Spells</h3>
                    {% for card in decklist.main_deck %}
                    {% if "Spell" in card.type %}
                    <div class="decklist-card decklist-card-{{card.id}}" onmouseenter="displayCard('{{card.img_url}}')">
                        <a href="/card/{{card.id}}">
                            <p class="cardnamep"> <span class="card-{{card.id}}-quantity">{{card.quantity}}</span> <span class="cardnamespan">{{card.name}}</span></p>
                        </a>
                        {% if current_user.id == deck.user_id %}
                        <div class="card-btns">
                            <form onsubmit="event.preventDefault(); addCardQuantity(event)" id="add-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="add-btn"><span class="material-symbols-outlined" id="{{card.id}}">add</span></button>
                            </form>
                            <form onsubmit="event.preventDefault(); delCardQuantity(event)" id="del-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="delete-btn"><span class="material-symbols-outlined" id="{{card.id}}">close</span></button>
                            </form>
                        </div>
                        {% endif %}
                    </div> 
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-types">
                    <h3 class="type-h3">Traps</h3>
                    {% for card in decklist.main_deck %}
                    {% if "Trap" in card.type %}
                    <div class="decklist-card decklist-card-{{card.id}}" onmouseenter="displayCard('{{card.img_url}}')">
                        <a href="/card/{{card.id}}">
                            <p class="cardnamep"> <span class="card-{{card.id}}-quantity">{{card.quantity}}</span> <span class="cardnamespan">{{card.name}}</span></p>
                        </a>
                        {% if current_user.id == deck.user_id %}
                        <div class="card-btns">
                            <form onsubmit="event.preventDefault(); addCardQuantity(event)" id="add-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="add-btn"><span class="material-symbols-outlined" id="{{card.id}}">add</span></button>
                            </form>
                            <form onsubmit="event.preventDefault(); delCardQuantity(event)" id="del-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="delete-btn"><span class="material-symbols-outlined" id="{{card.id}}">close</span></button>
                            </form>
                        </div>
                        {% endif %}
                    </div> 
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card-types">
                    <h3 class="type-h3">Extra Deck</h3>
                    {% for card in decklist.extra_deck %}
                    <div class="decklist-card decklist-card-{{card.id}}" onmouseenter="displayCard('{{card.img_url}}')">
                        <a href="/card/{{card.id}}">
                            <p class="cardnamep"> <span class="card-{{card.id}}-quantity">{{card.quantity}}</span> <span class="cardnamespan">{{card.name}}</span></p>
                        </a>
                        {% if current_user.id == deck.user_id %}
                        <div class="card-btns">
                            <form onsubmit="event.preventDefault(); addCardQuantity(event)" id="add-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="add-btn"><span class="material-symbols-outlined" id="{{card.id}}">add</span></button>
                            </form>
                            <form onsubmit="event.preventDefault(); delCardQuantity(event)" id="del-card-btn-{{card.id}}">
                                <input type="hidden" name="card-id" value="{{card.id}}">
                                <input type="hidden" name="deck-id" value="{{deck.id}}">
                                <button id="delete-btn"><span class="material-symbols-outlined" id="{{card.id}}">close</span></button>
                            </form>
                        </div>
                        {% endif %}
                    </div> 
                    {% endfor %}
                </div>
            </div>
            
            <div class="card-display">
                {% if decklist.main_deck[0] != undefined %}
                <img src="{{decklist.main_deck[0].img_url}}" alt="Current Hovered Card">
                {% else %}
                <img width="421" height="614" src="http://duellinks.gamea.co/file/qa/umi92hxs/q/378a9b0ac81d00d6712dcaef1f188ec012508179_1.jpg" alt="">
                {% endif %}
            </div>
        </div>
        
    </div>

    {% include './footer.html' %}
</body>
</html>
