<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/new_styles.css">
    <script src="/static/scripts/exampleScript.js" defer></script>
    
    <title>Yu-Gi-Search</title>
</head>
<body>
    {% block navbar %}
        <nav>
            <h1><a href="/">Yu-Gi-Search</a></h1>
            <div class="search-bar">
                <form action="/cards/search/page/1", method="POST" id="nav-search-form" autocomplete="off">
                    <input type="text" placeholder="Search for a card..." name="card-name" autocomplete="off">
                    <div id="nav-search-dropdown"></div>
                </form>
            </div>
            <div class="links">
                {% if not current_user.id %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {% else %}
                    <p class="deckbtn">New Deck</p>
                    <a href="/users/{{current_user.id}}">{{current_user.username}}</a>
                    <a href="/logout">Logout</a>
                {% endif %}

            </div>

            <div class="deck-modal">
                {% include "/deck-modal.html" %}
            </div>
        </nav>
    {% endblock %}
</body>
</html>