<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yu-Gi-Search | Profile</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>
    {% include "/navbar.html" %}

    <div class="profile-page-content">
        <div class="profile-left">
            <h1>{{user.username}}</h1>
            <h2>{{user.fname}} {{user.lname}}</h2>
            <h2 class="bio">About Me</h2>
            <p>{{user.bio}}</p>
        </div>
        <div class="profile-right">
            <div class="recent-decks-container">
                <h1>{{user.username}}'s Decks</h1>
                <div class="recent-decks">
                    {% for deck in decks %}
                        <a class="recent-deck-container" href="/decks/{{deck.id}}">
                            <img src="{{deck.cover_img}}" alt="">
                            <div>
                                <span class="material-symbols-outlined">
                                    folder
                                </span>   
                                <p>{{deck.name}}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="recent-comments">
                <h1>{{user.username}}'s Comments</h1>
                <div class="recent-comments-list">
                    {% for comment in comments %}
                        <div class="single-comment-card">
                            <p>{{comment.content}}</p>
                            <p class="posted-by">
                                <a href="/users/{{comment.user_id}}" class="comment-author">{{comment.user.username}}</a> 
                                commented on 
                                <a href="/card/{{comment.card.id}}" class="card-name">{{comment.card.name}}</a>
                            </p>
                        </div>    
    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include './footer.html' %}
</body>
</html>